@import '../../../styles/main.scss';

.projectsFinancial {
  &Toggle {
    margin: 0 0 40px;
    color: var(--link-color);
    cursor: pointer;

    i {
      color: $color-text;
    }
  }

  &Extrafields {
    margin-bottom: 40px;
  }

  &Inputs {
    padding: 20px;
    border: 1px solid $color-white-darker;
    border-radius: 2px;
    background-color: $color-white;

    @media (min-width: 800px) {
      width: 70%;
      padding: 40px;
    }
  }

  &Input {
    margin-bottom: 40px;

    label {
      display: block;
      margin-bottom: 10px;
      color: $color-gray;
    }

    span {
      position: relative;
    }

    i {
      position: absolute;
      z-index: 0;
      top: -12px;
      left: 0;
      padding: 11px;
      background-color: $color-off-white;
      border-right: 1px solid $color-white-darker;
    }

    input {
      position: relative;
      z-index: 1;
      padding-left: 60px;
      font-weight: 400;
      background: transparent;

      &:invalid {
        border: 1px solid $color-white-darker;
      }

      &:not(:placeholder-shown):invalid {
        border: 1px solid $color-error;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &InputNoIcon {
    margin-bottom: 40px;

    label {
      display: block;
      margin-bottom: 10px;
      color: $color-gray;
    }

    span {
      position: relative;
    }

    input {
      position: relative;
      z-index: 1;
      font-weight: 400;
      background: transparent;

      &:invalid {
        border: 1px solid $color-white-darker;
      }

      &:not(:placeholder-shown):invalid {
        border: 1px solid $color-error;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &InputLargeIcon {
    margin-bottom: 40px;

    label {
      display: block;
      margin-bottom: 10px;
      color: $color-gray;
    }

    span {
      position: relative;
    }

    i {
      position: absolute;
      z-index: 0;
      top: -12px;
      left: 0;
      padding: 12px;
      background-color: $color-off-white;
      border-right: 1px solid $color-white-darker;
    }

    input {
      position: relative;
      z-index: 1;
      padding-left: 70px;
      font-weight: 400;
      background: transparent;

      &:invalid {
        border: 1px solid $color-white-darker;
      }

      &:not(:placeholder-shown):invalid {
        border: 1px solid $color-error;
      }
    }

    &:last-child {
      margin-bottom: 0;
    }
  }

  &Unit {
    margin: 0 0 30px;
  }
}

.container-column-2 {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1.2em;
  }
}

.container-column-3 {
  @media (min-width: 600px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 1.2em;
  }
}
