@import '../../../../styles/main.scss';

:global {
    .qlDynamicTag {
        background-color: var(--primary-color);
        padding: 2px 3px;
        border-radius: 3px;
        display: inline-block;
        width: auto;
        color: #fff;
    }

    .qlDynamicTag span{
        display: none;
    }

    .qlDynamicTag:before {
        content: attr(data-label)
    }
}
