@import '../../styles/main.scss';
@import '../../styles/components/tables.scss';
@import '../../styles/components/panel.scss';
@import '../../styles/components/extras.scss';
@import '../../styles/components/empty.scss';

.equipmentList {

  &Empty {
    padding-top: 40px;
    text-align: center;

    button {
      width: auto;
      margin: auto;
      i {
        margin-right: 10px;
      }
    }
  }

  &Extras {
    // padding: 20px 0;

    @media (min-width: 800px) {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &Type {
    flex: 1;
  }

  &Search {
    position: relative;
    flex: 2;
    margin-top: 10px;
    
    input {
      padding: 12px 10px 12px 50px;
      
      ::placeholder {
        color: $color-gray-dark;
      }
    }

    i { /* eyeglass icon */
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 20px;
      color: $color-gray-dark;
    }

    @media (min-width: 800px) {
      margin-left: 10px;
      margin-top: 0;
    }
  }

  &Filters {
    flex: 2;

    > div {
      margin-top: 10px;
    }
    
    @media (min-width: 800px) {
      display: flex;
      align-items: flex-start;

      > div {
        margin-left: 10px;
        margin-top: 0;
      }
    }
  }

  .table {

    &Header {

      div {
        cursor: pointer;
      }
    }
  }
}

.empty{
  margin-top: 100px;
  &Buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    button {
      width: auto;
    }
  }
}