@import '../../../../styles/main.scss';

.modal {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(var(--secondary-color), 0.6);
  display: flex;
  justify-content: center;
  align-items: center;

  &Inner {
    margin: 20px;
    box-shadow: 0 0 110px #313131;
    border-radius: 2px;
    background-color: $color-white;
    text-align: center;
  }

  &Heading {
    padding: 20px 20px 0px 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid $color-gray-lightest;

    h2 {
      display: inline-block;
      margin-top: 0;
      font-size: 20px;
      font-weight: bold;
    }
  }

  &Footer {
    padding: 0px 20px;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid $color-gray-lightest;

    button {
      &:first-child,
      &:last-child {
        width: 20%;
      }
      &:nth-child(2n) {
        width: 50%;
      }
    }
  }

  &Close {
    text-align: right;
    font-size: 25px;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }
  }
}
