@import '../../styles/main.scss';

.popup {
  min-width: 350px;
  border: 2px solid $color-gray-lightest;
  position: absolute;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 $color-gray;
  right: 0;
  padding: 16px;
  top: 50px;
}
