
@import '../../../styles/main.scss';
@import '../../../styles/components/panel.scss';
.main{
  position: relative;
  &Rerunning {
    position: absolute;
    z-index: 3;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background: rgba($color-white, 0.85);
    text-align: center;
    h3 {
      margin-top: 40px;
    }
  }
}