@import '../../../styles/main.scss';

.row {
  display: grid;
  width: 100%;
  grid-row-gap: 1em;
  margin: 0.5em 0 0.5em 0;
  @media (min-device-width: 1024px) {
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    grid-column-gap: 1em;
  }
}

.editEquipmentDetails {
  float: right;
}

.label {
  display: block;
  margin-bottom: 10px;
  color: $color-gray;
}

// Category, Application, and Technology dropdowns alignment only for iPad on portrait mode
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation: portrait) {
  .schemaDropdowns {
    display: flex;
    justify-content: space-between;
  }
}

.formError {
  color: $color-error;
}

.baseInfoContainer {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.baseInfoItem {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.baseInfoContainer div:nth-child(2) {
  margin-left: 10px;
}
