@import '../../../../styles/main.scss';
@import '../../../../styles/components/tables.scss';

.modal {
  .modalInner {
    min-width: 500px;
  }
  .modalHeading {
    align-items: unset;
  }
  .modalBody {
    max-height: 600px;
    min-height: 300px;
    overflow-y: auto;
    position: relative;
  }
  .loader {
    position: absolute;
    top: 40%;
    left: 40%;
  }
  .modalFooter {
    padding: 20px;
  }
}

.newModalFooter {
  text-align: left;
  width: 100%;
  .text {
    margin-bottom: 12px;
  }
  &Action {
    display: flex;
    width: 100%;
    justify-content: space-between;
    &Left {
      width: 75%;
      .selectContainer + .selectContainer {
        margin-top: 12px;
      }
    }
    &Right {
      .button {
        margin-top: 0px;
        height: 44px;
      }
    }
  }
}

.iconDisabled {
  pointer-events: none;
  color: $color-gray-light;
  cursor: default;
  &:hover {
    color: $color-gray-light;
  }
}

.leftAlign {
  text-align: left !important;
}

.tableRowItem {
  i {
    cursor: pointer;
  }
}
