@import '../../styles/main.scss';
@import '../../styles/components/extras.scss';
@import '../../styles/components/tabs.scss';

.costContainer{
  width: 300px;
  border: 2px solid #dadada;
  position: absolute;
  z-index: 20;
  background-color: #fff;
  box-shadow: 0 1px 8px 0 #858c92;
  top: calc(100% - 30px);
  
  &Header{
    background-color: var(--primary-color);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
  }
  &Body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  &Footer{
    padding: 0px 20px 10px;
    display: flex;
    justify-content: flex-end;
    > button {
      width: 45%;
    }
  }
}
.costOption{
  width: 55%;
}
.costInputContainer{
  width: 40%;
  text-align: right;    
  border: 1px solid #e9edf1;
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  > span{
    width: 30px;
  }
}
.costInput{
  padding: 12px 20px 12px 0px;
  text-align: right;
  border: none;
  &:focus{
    border: none;
  }
}
.deleteIcon{
  cursor: pointer;
}