@import '../../styles/main.scss';

.footer {
  position: fixed;
  z-index: 10;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: $color-white;
  border: 1px solid $color-white-darker;
  box-shadow: 0 5px 18px -1px rgba($color-gray, 0.7);
  padding: 0;
  @media (min-device-width : 1024px)  {
    padding: 10px 0;
  }

  button {
    display: inline-block;
    width: auto;
  }

  button + button {
    margin-left: 10px;
  }

  &Container {
    @extend .container;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.4em;
    @media (min-device-width : 1024px)  {
      padding: 0 15px;
      justify-content: flex-end;
    }
  }
}
