@import '../../styles/main.scss';
@import '../../styles/components/panel.scss';
@import '../../styles/components/tabs.scss';

.tabs {
  overflow-x: auto;
  white-space: nowrap;
  background: transparent;
  border-bottom: none;

  .container {
    padding: 0;
  }

  .tab {
    padding-bottom: 15px;
  }
}
