@import '../../styles/main.scss';
@import '../../styles/components/extras.scss';
@import '../../styles/components/tabs.scss';

.timeRangeContainer {

  &Header {
    background-color: var(--primary-color);
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
  }
}

.deleteIcon {
  cursor: pointer;
}

.fullWidth {
  width: 100%;

  span {
    margin-bottom: 10px;
  }
}

.selection {
  display: flex;
  justify-content: space-between;
  align-items: center;

  &Item {
    width: 150px;
  }

  &Input {
    width: 150px;
  }
}
.validationError {
  display: flex;
  align-items: center;
  text-align: center;
  color: $color-red;
  justify-content: center;
  padding-top: 20px;
}
